<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div><%= user.username %> <a href=/profile/<%= user._id %>/edit><button id="editBtn" data-uid= <%= user._id %>>Edit</button></a></div>
    
    <div>First Name: <%= user.firstName %></div>
    <div>Last Name: <%= user.lastName %></div>
    <div>Email: <%= user.email %></div>
    <div>Birth Day: <%= user.dob %></div>
    <div>Address: <%= user.address %></div>
    <script src="/js/profile.js"></script>
</body>
</html>